  <!-- Container -->
  <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-0" style="color: #221c5a;"> About Warangal </h2>
      <!-- Section description -->
      

            <div class="row">

                <div class="col-md-8">

                    <p style="text-align: justify">Warangal is a city in the Indian state of Telangana.
                        It is the district headquarters of Warangal Urban District. 
                        Warangal is the second largest and also Metropolitan City in Telangana after Hyderabad,  
                         
                       
                       Along with 11 other cities in the country known for having a rich cultural heritage, 
                       it has been chosen for the HRIDAY – Heritage City Development and Augmentation Yojana scheme by the Government of India.
                        It was also selected as a smart city in the "fast-track competition", which makes it eligible for additional
                        investment to improve urban infrastructure and industrial opportunities under the Smart Cities Mission. </p>
                       
                       
                       
                       <p style="text-align: justify"> The region is spread over three districts – Warangal Rural, Warangal Urban and Jangaon in Telangana covering 19 Mandals
                        and 181 Villages.  </p>
                       
                       <p style="text-align: justify"> Warangal served as the capital of the Kakatiya dynasty which was established in 1163.
                        The monuments left by the Kakatiyas include fortresses, lakes, temples and stone gateways which,
                         in the present, helped the city to become a popular tourist attraction.
                          The Kakatiya Kala Thoranam was included in the emblem of Telangana by the state government. </p>
                  
                
                </div>

                <div class="col-md-4">
                  
                  <img src="../../assets/images/warangal.jpg" class="img-thumbnail"/>
                
                </div>



            </div>

          </div>











