.details a {
    cursor: pointer;
    color: #221c5a !important;
    font-weight: bold;
}

.details a:hover {
    color: #52c400 !important;
}

.heading {
    color: #18b003;
    text-transform: capitalize !important;
}