.middle{
    width: 860px;
    margin: 0 auto;
   }
   .card-title{
       color: #23214c;
   font-family: 'Aclonica';font-size: 32px;
  }
  .btn-info{
   color:#23214c;
  }
  .btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 3.3rem;
}
.error-message{
    color: red;
    font-size: 12px;
}

.contactPrefenence{
    margin-top: 0rem; 
    margin-bottom: 0rem;
    border-color:  red;
    border-top-style: solid;
    font-family: "Helvetica Neue",sans-serif;
    /* width :50%; */
}

.full-width {
    width: 100%;
  }

  .card {
    margin-top: 20px;
  }
  .mrgbtm {
    margin-bottom: 2%;
}
button {
    margin: 0px 20px 0px 0px;
  }


  textarea{
    height: 120px;
  }